<mat-toolbar color="accent">
  <h1>WEEKEND UPDATE</h1>
</mat-toolbar>
<div class=fotos>
<mat-card class='mycard'>
    <mat-card-title>Mi Perro Rete</mat-card-title>
  <img mat-card-image src="https://picsum.photos/id/237/200/300">
  <mat-card-content>
  <mat-card-subtitle>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem fugit tempora non quae distinctio architecto quia, libero blanditiis nostrum rem cumque tenetur earum dolorem ducimus nisi. Voluptates reprehenderit deleniti rem!</mat-card-subtitle>
</mat-card-content>
</mat-card>

<mat-card class='mycard'>
  <mat-card-title>Dandole duro al angular</mat-card-title>
<img mat-card-image src="https://picsum.photos/id/1/200/300">
<mat-card-content>
<mat-card-subtitle>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem fugit tempora non quae distinctio architecto quia, libero blanditiis nostrum rem cumque tenetur earum dolorem ducimus nisi. Voluptates reprehenderit deleniti rem!</mat-card-subtitle>
</mat-card-content>
</mat-card>

<mat-card class='mycard'>
  <mat-card-title>Sueño de Verano</mat-card-title>
<img mat-card-image src="https://picsum.photos/200/300"
>
<mat-card-content>
<mat-card-subtitle>Hodor. Hodor hodor, hodor. Hodor hodor hodor hodor hodor. Hodor. Hodor! Hodor hodor, hodor; hodor hodor hodor. Hodor. Hodor hodor; hodor hodor - hodor, hodor, hodor hodor. Hodor, hodor. Hodor. Hodor, hodor hodor hodor; hodor hodor; hodor hodor hodor! Hodor hodor HODOR! Hodor hodor... Hodor hodor hodor...</mat-card-subtitle>
</mat-card-content>
</mat-card>

<mat-card class='mycard'>
  <mat-card-title>Aterdecer oscuro</mat-card-title>
<img mat-card-image src="https://picsum.photos/id/237/200/300">
<mat-card-content>
<mat-card-subtitle>Bacon ipsum dolor amet short ribs brisket venison rump drumstick pig sausage prosciutto chicken spare ribs salami picanha doner. Kevin capicola sausage, buffalo bresaola venison turkey shoulder picanha ham pork tri-tip meatball meatloaf ribeye. Doner spare ribs andouille bacon sausage. Ground round jerky brisket pastrami shank.</mat-card-subtitle>
</mat-card-content>
</mat-card>

<mat-card class='mycard'>
  <mat-card-title>Random picture de mis vacaciones</mat-card-title>
<img mat-card-image src="https://picsum.photos/200/300">
<mat-card-content>
<mat-card-subtitle>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem fugit tempora non quae distinctio architecto quia, libero blanditiis nostrum rem cumque tenetur earum dolorem ducimus nisi. Voluptates reprehenderit deleniti rem!</mat-card-subtitle>
</mat-card-content>
</mat-card>

</div>
