
<mat-toolbar color="primary">
  <h1>MY BLOG</h1>
</mat-toolbar>
<div class=fotos>
  <mat-card class='mycard'>
      <mat-card-title>Mi Perro Rete</mat-card-title>
    <img mat-card-image src="https://picsum.photos/id/237/200/300">
    <mat-card-content>
    <mat-card-subtitle>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem fugit tempora non quae distinctio architecto quia, libero blanditiis nostrum rem cumque tenetur earum dolorem ducimus nisi. Voluptates reprehenderit deleniti rem!</mat-card-subtitle>
  </mat-card-content>
  </mat-card>

  <div class="buttonbox">

  <button mat-button>COMMENTS</button>

</div>

